body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
}

h2{
font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}

.half-width img{
    width: 85%;
}

.dream-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(50deg, lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-area{
    background:url(image/top-banner.png);
    background-repeat: no-repeat;
}

section{
    height: 700px;
}
.dream-area{
    background: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-box{
    box-shadow: 10px 10px 40px gray;
    height: 50%;
    
}

p{
    color: rgb(105, 105, 105);
}

#full-box{
    border-left: 7px solid;    
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    border-radius: 5px;
    background-color: white;
}
#baby-box{
    border-left: 7px solid;    
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}

.heading-ex{
    margin-left: 5%;
}

.experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
}